// @tailwind base; // colliding with ANT
@tailwind components;
@tailwind utilities;

button {
  border: transparent;
}
.ant-tabs-tab-active {
  background-color: #caddff !important;
  border-radius: 0px 0px 10px 10px !important;
}
#logo {
  fill: #1890FF;
  width: 80px;
  height: 80px;
  object-fit: contain;
  stroke: rgb(255, 255, 255, .5);
  stroke-width: 6px;
}
#main_table {
  thead {
    // white-space: nowrap;
    th {
      border-right: 1px rgba(0, 0, 80, 0.2) solid;
      border-bottom: 1px rgba(0, 0, 80, 0.2) solid;
      background-color: rgba(0, 32, 80, 0.123);
    }
  }
}
#main_table_edit {
  div {
    font-size: small;
    border: 1px solid transparent;
  }
  th {
    // border-right: 1px rgba(0, 0, 80, 0.2) solid;
    border-bottom: 1px rgba(0, 0, 80, 0.2) solid;
    background-color: rgba(0, 32, 80, 0.05);
  }

  .editable-cell {
    position: relative;
  }
  
  .editable-cell-value-wrap {
    cursor: pointer;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
    // padding: 0px 4px;
    border: 1px solid #d9d9d9;
    min-height: 2rem;
    // border-radius: 2px;
  }
  
  [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
  }
}
.btn {
  @apply bg-blue-950 hover:bg-blue-600 active:bg-violet-900 focus:outline-none focus:ring focus:ring-violet-300 text-blue-50 rounded-3xl py-3 px-8;
  width: fit-content;
}

.testStyling {
  border: gray solid 2px;
}
.homeImage {
  height: 300px;
  max-height: 50%;
}



@media (max-width: 767px) {
  #logo {
    width: 30px;
    height: 30px;
  }
  .ant-menu-item {
    // padding: 8px !important;
    margin: auto !important;
    width: min-content !important;
  }
  .ant-menu {
    margin-right: 10px;
  }
}